---
layout: blog
title: Home
permalink: /
---


<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top" id="i18_title"><span data-i18n="website.title">{{ site.title }}</span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" id="i18_navbar">
          {% for section in site.data.landing %}
          <li>
            {% if section.page %}
            <a class="page-scroll" href="{{ section.page}} ">
              {% else %}
              <a class="page-scroll" href="{{ section.id | prepend: '#'}} ">
                {% endif %}
                <span data-i18n="{{ section.i18n }}">{{ section.name }}</span>
              </a>
          </li>
          {% endfor %} {% for language in site.data.index.language %}
          <li>
            <a id="set_lang_{{ language.locale }}" class="btn btn-sm set_{{ language.locale }}" data-locale="{{ language.locale }}">
              <img src="{{ language.flag | prepend: site.baseurl }}" height="16" width="16">
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>

<div>
  <div class="waypoint"></div>
  <a class="section-anchor"></a>
  <div>
    <div class="s-bg-image s-bg-light-text s-new-title-section s-section  _animate-background" data-react-style="{&quot;backgroundRepeat&quot;:&quot;no-repeat&quot;,&quot;backgroundSize&quot;:&quot;cover&quot;,&quot;backgroundColor&quot;:&quot;transparent&quot;,&quot;backgroundPosition&quot;:&quot;50% 50%&quot;}"
      style="background-repeat: no-repeat; background-size: cover; background-color: transparent; background-image: url(&quot;static/assets/img/landing/background.jpg&quot;); min-height: 0px; background-attachment: fixed; background-position: 0px 0px; padding-top: 325px; padding-bottom: 325px;">
      <div class="container">
        <div class="sixteen columns">
          <div class="s-title-group s-only-title-group ">
            <div class="team-member wow zoomIn">

              <div class="s-subtitle">
                <div class="s-component s-text">

                  <h4 class="s-component-content s-font-heading">
                    <p style="font-size: 150%;" class="s-text-color-white">
                      <em>Hey, I'm</em>
                    </p>
                  </h4>
                </div>
              </div>
              <div class="s-title sb-title-center-align has-fresh-line">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <div class="s-component s-text">
                  <h1 class="s-component-content s-font-title">
                    <p style="text-align: center; font-size: 150%;">
                      <strong>SHYAMAN JAYASUNDARA</strong>
                    </p>
                  </h1>
                </div>
              </div>



              <ul class="list-inline social-icon" style="display: table; margin: 0 auto;">
                {% if site.author.github_username %}
                <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                {% endif %} {% if site.author.linkedin_id %}
                <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                {% endif %} {% if site.author.facebook_username %}
                <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                {% endif %}{% if site.author.linkedin_id %}
                <li><a href="https://www.flickr.com/photos/{{ site.author.flickr_id }}" target="blank"><i class="fa fa-flickr"></i></a></li>
                {% endif %} {% if site.author.email %}
                <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                {% endif %}
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% for section in site.data.landing %} {% assign loopindex
= forloop.index | modulo: 2 %}
<section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0;">

  {% if section.id != 'blog' %} {% include sections/{{section.tpl}} %} {% endif %}

</section>
{% endfor %}


<style>
  iframe {
    -moz-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    -o-transform: scale(0.25, 0.25);
    -ms-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  }
</style>

<style type="text/css">
  .s-section.s-bg-light-text-override .s-blog-details-blurb,
  .s-section.s-bg-light-text-override .s-blog-info,
  .s-section.s-bg-light-text-override .s-blog-title,
  .s-section.s-bg-light-text-override .s-ecommerce-card-view-card-name,
  .s-section.s-bg-light-text-override .s-ecommerce-card-view-card-price,
  .s-section.s-bg-light-text-override .s-item-subtitle,
  .s-section.s-bg-light-text-override .s-item-text,
  .s-section.s-bg-light-text-override .s-item-title,
  .s-section.s-bg-light-text-override .s-subtitle,
  .s-section.s-bg-light-text-override .s-title,
  .s-section.s-bg-light-text .s-blog-details-blurb,
  .s-section.s-bg-light-text .s-blog-info,
  .s-section.s-bg-light-text .s-blog-title,
  .s-section.s-bg-light-text .s-ecommerce-card-view-card-name,
  .s-section.s-bg-light-text .s-ecommerce-card-view-card-price,
  .s-section.s-bg-light-text .s-item-subtitle,
  .s-section.s-bg-light-text .s-item-text,
  .s-section.s-bg-light-text .s-item-title,
  .s-section.s-bg-light-text .s-subtitle,
  .s-section.s-bg-light-text .s-title {
    color: #fff
  }


  .s-title-group {
    text-align: center
  }

  .s-title-group .s-component-content {
    position: relative
  }

  .s-title-group .has-fresh-line .s-component-content {
    display: inline-block;
    max-width: 100%;
    zoom: 1
  }

  .s-title-group .has-fresh-line .s-component-content.middle {
    vertical-align: middle
  }

  .s-title-group .has-fresh-line .s-component-content.hidden {
    display: none
  }

  .s-title-group .has-fresh-line .s-component-content:after,
  .s-title-group .has-fresh-line .s-component-content:before {
    content: " ";
    display: inline-block;
    height: 2px;
    margin: 0 10px;
    position: absolute;
    top: 50%;
    width: 80px;
    zoom: 1
  }

  .s-title-group .has-fresh-line .s-component-content:after.middle,
  .s-title-group .has-fresh-line .s-component-content:before.middle {
    vertical-align: middle
  }

  .s-title-group .has-fresh-line .s-component-content:before {
    right: 100%
  }

  .s-title-group .has-fresh-line .s-component-content:after {
    left: 100%
  }

  .s-title-group .sb-title-left-align .s-component-content,
  .s-title-group .sb-title-right-align .s-component-content {
    display: block
  }

  .s-title-group .sb-title-left-align .s-component-content:after,
  .s-title-group .sb-title-left-align .s-component-content:before,
  .s-title-group .sb-title-right-align .s-component-content:after,
  .s-title-group .sb-title-right-align .s-component-content:before {
    display: none !important
  }


  h1.s-component-content::before,
  h1.s-component-content::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }
</style>